<!DOCTYPE html>
	<html lang='en' dir='ltr'>
		<head>
			<!--This file should be under res/-->
			<meta charset='utf-8'>
			<meta name='viewport' content='width=device-width,initial-scale=1'>
			<link href='../template/pic/logo.ico' type='image/x-icon'>
			<title>Euler Guardian</title>
			<link rel='stylesheet' href='../template/normalize.css'>
			<link rel='stylesheet' type='text/css' href='../template/report.css'>
		</head>
		<body>

<div class='each-part'>
		<h2><a href='#'>Scan results</a></h2>
		<table>
			<tbody>
				<tr>
					<td>Firewall rules</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[0]}.png) no-repeat;'>
						${scanRes[0]}
					</span>
					</td>
				</tr>
				<tr>
					<td>Open TCP and UDP ports</td>
					<td>
						${scanRes[1]}
					</td>
				</tr>
				<tr>
					<td>init.d service(s)</td>
					<td>
						${scanRes[2]}
					</td>
				</tr>
				<tr>
					<td>PATH</td>
					<td>
						${scanRes[3]}
					</td>
				</tr>
				<tr>
					<td>Unusual kernel module(s)</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[4]}.png) no-repeat;'>
						${scanRes[4]}
					</span>
					</td>
				</tr>
				<tr>
					<td>File(s) deleted but opened</br>(except browser)</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[5]}.png) no-repeat;'>
						${scanRes[5]}
					</span>
					</td>
				</tr>
				<tr>
					<td>File(s) changed in 7 days</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[6]}.png) no-repeat;'>
						${scanRes[6]}
					</span>
					</td>
				</tr>
				<tr>
					<td>Proc(s) using CPU more than 30%</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[7]}.png) no-repeat;'>
						${scanRes[7]}
					</span>
					</td>
				</tr>
				<tr>
					<td>Hidden proc(s)</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[8]}.png) no-repeat;'>
						${scanRes[8]}
					</span>
					</td>
				</tr>
				<tr>
					<td>wget in sh history</td>
					<td>
						${scanRes[9]}
					</td>
				</tr>
				<tr>
					<td>ssh in sh history</td>
					<td>
						${scanRes[10]}
					</td>
				</tr>
				<tr>
					<td>IP(s) trying SSH brute-force as root</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[11]}.png) no-repeat;'>
						${scanRes[11]}
					</span>
					</td>
				</tr>
				<tr>
					<td>UID=0 user(s)</br>(except root)</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[12]}.png) no-repeat;'>
						${scanRes[12]}
					</span>
					</td>
				</tr>
				<tr>
					<td>User(s) without password</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[13]}.png) no-repeat;'>
						${scanRes[13]}
					</span>
					</td>
				</tr>
				<tr>
					<td>User(s) can login</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[14]}.png) no-repeat;'>
						${scanRes[14]}
					</span>
					</td>
				</tr>
				<tr>
					<td>User(s) last login</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[15]}.png) no-repeat;'>
						${scanRes[15]}
					</span>
					</td>
				</tr>
				<tr>
					<td>Cron backdoor(s)</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[16]}.png) no-repeat;'>
						${scanRes[16]}
					</span>
					</td>
				</tr>
				<tr>
					<td>Webshell(s)</td>
					<td>
					<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[17]}.png) no-repeat;'>
						${scanRes[17]}
					</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body></html>
