<!DOCTYPE html>
	<html lang='en' dir='ltr'>
	<body>
	<div>
			<h2>System Information</h2>
			<table>
				<tbody>
					<tr>
						<td>OS</td>
						<td>${releaseNameStr} ${releaseVersionID}</td>
					</tr>
					<tr>
						<td>Kernel</td>
						<td>${kernelName} ${kernelRelease}</td>
					</tr>
					<tr>
						<td>Platform</td>
						<td>${hardwareP}</td>
					</tr>
					<tr>
						<td>SELinux</td>
						<td>${scanRes[0]}</td>
					</tr>
					<tr>
						<td>Limitations for various resources</td>
						<td>${scanRes[1]} items</td>
					</tr>
					<tr>
						<td>Linux Auditing System</td>
						<td>${scanRes[2]}</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div>
			<h2>User Information</h2>
			<table>
				<tbody>
					<tr>
						<td>Hostname</td>
						<td>${Hostname}</td>
					</tr>
					<tr>
						<td>Current UID</td>
						<td>${scanRes[3]}</td>
					</tr>
					<tr>
						<td>Found passwords in /etc/passwd stored as hash</td>
						<td>${scanRes[4]}</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div>
			<h2>User identity and access control</h2>
			<table>
				<tbody>
					<tr>
						<td>basic password configuration</td>
						<td>${scanRes[5]}</td>
					</tr>
					<tr>
						<td>pam Cracklib configuration</td>
						<td>${scanRes[6]}</td>
					</tr>
					<tr>
						<td>User without password</td>
						<td>${scanRes[7]}</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div>
			<h2>Files Check</h2>
			<table>
				<tbody>
					<tr>
						<td>File(s) with S perm</td>
						<td>${scanRes[8]}</td>
					</tr>
					<tr>
						<td>777 perm file(s) without group belonged to</td>
						<td>${scanRes[9]}</td>
					</tr>
					<tr>
						<td>orphan file(s)</td>
						<td>${scanRes[10]}</td>
					</tr>
					<tr>
						<td>Unusual kernel module(s)</td>
						<td>${scanRes[11]}</td>
					</tr>
				</tbody>
			</table>
	</div>
	<h2>Please check details according to the reports.</h2>
	</body>
</html>
