<!DOCTYPE html>
		<html lang='en' dir='ltr'>
			<head>
				<!--This file should be under res/-->
				<meta charset='utf-8'>
				<meta name='viewport' content='width=device-width,initial-scale=1'>
				<link href='../template/pic/logo.ico' type='image/x-icon'>
				<title>Euler Guardian</title>
				<link rel='stylesheet' href='../template/normalize.css'>
				<link rel='stylesheet' type='text/css' href='../template/report.css'>
			</head>
			<body>

	<div class='each-part'>
			<h2><a href='#'>System Information</a></h2>
			<table>
				<tbody>
					<tr>
						<td>OS</td>
						<td>${releaseNameStr} ${releaseVersionID}</td>
					</tr>
					<tr>
						<td>Kernel</td>
						<td>${kernelName} ${kernelRelease}</td>
					</tr>
					<tr>
						<td>Platform</td>
						<td>${hardwareP}</td>
					</tr>
					<tr>
						<td>SELinux</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#system-information'>
							<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[0]}.png) no-repeat;'>
								${scanRes[0]}
							</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>Limitations for various resources</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#system-information'>
							<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[1]}.png) no-repeat;'>
								${scanRes[1]} items
							</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>Linux Auditing System</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#system-information'>
							<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[2]}.png) no-repeat;'>
								${scanRes[2]}
							</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div class='each-part'>
			<h2><a href='#'>User Information</a></h2>
			<table>
				<tbody>
					<tr>
						<td>Hostname</td>
						<td>${Hostname}</td>
					</tr>
					<tr>
						<td>Current UID</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#user-information'>
								${scanRes[3]}
							</a>
						</td>
					</tr>
					<tr>
						<td>Found passwords in /etc/passwd stored as hash</td>
						<td>
							<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[4]}.png) no-repeat;'>
								${scanRes[4]}
							</span>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div class='each-part'>
			<h2><a href='#'>User identity and access control</a></h2>
			<table>
				<tbody>
					<tr>
						<td>basic password configuration</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#user-iden'>
								<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[5]}.png) no-repeat;'>
									${scanRes[5]}
								</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>pam Cracklib configuration</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#user-iden'>
								<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[6]}.png) no-repeat;'>
									${scanRes[6]}
								</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>User without password</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#user-iden'>
								<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[7]}.png) no-repeat;'>
									${scanRes[7]}
								</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div class='each-part'>
			<h2><a href='#'>Files Check</a></h2>
			<table>
				<tbody>
					<tr>
						<td>File(s) with S perm</td>
						<td>
							<a href='../res/s.txt'>
								<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[8]}.png) no-repeat;'>
									${scanRes[8]}
								</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>777 perm file(s) without group belonged to</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#files-check'>
								<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[9]}.png) no-repeat;'>
									${scanRes[9]}
								</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>orphan file(s)</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#files-check'>
								<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[10]}.png) no-repeat;'>
									${scanRes[10]}
								</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>Unusual kernel module(s)</td>
						<td>
							<a href='./EG_report_${timeStamp}.html#files-check'>
								<span style='padding-left: 19px; background: url(../template/pic/${riskLevel[11]}.png) no-repeat;'>
									${scanRes[11]}
								</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div class='each-part'>
			<h2><a href='sec_conf_${timeStamp}.html'>Security Configuration Scan</a></h2>
	</div>

	<div class='each-part'>
			<h2><a href='comp_vuln_${timeStamp}.html'>OVAL Scan</a></h2>
	</div>
</body></html>
